<h1>About Us</h1>
<p>
	<%= @about_me %>
</p>
<p> Hello my name is Kristina Harris. I am currently looking to gain employment that will show off my Software Development skills.

This is my first attempt at Ruby and it was done by following tutorial that was found: https://www.youtube.com/watch?v=fmyvWz5TUWg&ab_channel=freeCodeCamp.org

It was dated 3 years ago and so some of the methods he showed were nolonger compatible with the updated versions of Ruby, Ruby on Rails and Git Bash. So I had to troubleshoot my way through them.

I hope you enjoy it, and look forward to more.</p>